
<script type="text/javascript" src="//maps.googleapis.com/maps/api/js?key=AIzaSyBicWfhk5LhPT1VyHXH-QUC8itYedrgnOk&sensor=false"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
<script src="js/dashboard/map.js"></script>
<link href="css/dashboard-summary.css" rel="stylesheet">

<div class="container-fluid row" style="margin-bottom: 20px">
    <div class="sectiontitle">
        <h2>Pole Locations</h2>
        <span class="headerLine"></span>
    </div>
</div>
<div class="container-fluid row">
    <div class="col-md-12">
    <div id="map" style="height: 600px;"></div>
    </div>
</div>
