<script src="/js/poles/poles.js"></script>

<div class="container-fluid" ng-controller="poleCtrl" elem-ready="queryWholePoleTable()">
    <table ng-table="poleWholeTable" class="table" show-filter="false" elem-ready="">
        <tr ng-repeat="item in $data">
            <td title="'PoleCode'" filter="{ poleCode: 'text'}" sortable="'poleCode'">
                {{item.poleCode}}</td>
            <td title="'State'" filter="{ state: 'text'}" sortable="'state'">
                {{item.state}}</td>
        </tr>
    </table>
</div>