<div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav side-nav">
        <li class="active">
            <a href="/summary "><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
        </li>
        <li>
            <a href="javascript:;" data-toggle="collapse" data-target="#request_sub"><i class="fa fa-fw fa-bell-o"></i> Help Requests <i class="fa fa-fw fa-caret-down"></i></a>
            <ul id="request_sub" class="collapse">
                <li>
                    <a href="#">Real Time</a>
                </li>
                <li>
                    <a href="#">Request List</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="javascript:;" data-toggle="collapse" data-target="#pole_sub"><i class="fa fa-fw fa-flag-o"></i> Help Poles <i class="fa fa-fw fa-caret-down"></i></a>
            <ul id="pole_sub" class="collapse">
                <li>
                    <a href="/poles/generate">Generate Pole Poster</a>
                </li>
                <li>
                    <a href="/map">Poles Map</a>
                </li>
                <li>
                    <a href="/poles/wholeList">Poles List</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="javascript:;" data-toggle="collapse" data-target="#refu_sub"><i class="fa fa-fw fa-child"></i> Refugees <i class="fa fa-fw fa-caret-down"></i></a>
            <ul id="refu_sub" class="collapse">
                <li>
                    <a href="/refugee ">Add New Refugee</a>
                </li>
                <li>
                    <a href="#">Refugees List</a>
                </li>
                <li>
                    <a href="#">Search Refugees</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="javascript:;" data-toggle="collapse" data-target="#volu_sub"><i class="fa fa-fw fa-heart-o"></i> Volunteers <i class="fa fa-fw fa-caret-down"></i></a>
            <ul id="volu_sub" class="collapse">
                <li>
                    <a href="#">Add New Volunteer</a>
                </li>
                <li>
                    <a href="#">Volunteers list</a>
                </li>
                <li>
                    <a href="#">Search Volunteers</a>
                </li>
            </ul>        </li>
        <li>
            <a href="javascript:;" data-toggle="collapse" data-target="#orga_sub"><i class="fa fa-fw fa-umbrella"></i> Organizations <i class="fa fa-fw fa-caret-down"></i></a>
            <ul id="orga_sub" class="collapse">
                <li>
                    <a href="#">Add Organization</a>
                </li>
                <li>
                    <a href="#">Organizations List</a>
                </li>

            </ul>
        </li>
        <!--<li>-->
            <!--<a href="blank-page.html"><i class="fa fa-fw fa-file"></i> Setting</a>-->
        <!--</li>-->
    </ul>
</div>